/* @import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Bellota+Text&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.city-name{
  font-family: 'Open Sans';
  color: white;
  font-size:30vh;
  font-weight: 800;
  text-align: center;
}
.city-undertitle{
  font-family: 'Open Sans';
  color: rgb(70, 219, 245);
  font-size: 10vh;
  margin-top: -12px;
  text-align: center;
}
.articles{
  font-family: 'Open Sans';
  font-weight: 600;   
  color: white;
}
.articles:visited{
  font-family: 'Open Sans';
  font-weight: 600;   
  color: white;
}
.articles:hover{
  font-family: 'Open Sans';
  font-weight: 600;   
  color: white;
}
.generated-articles{
  text-decoration: none;
  color: white;
  font-size:3em;
}
a{
  display:flex;
  color: rgb(253, 253, 253);
  text-decoration:none;
 
}
a:visited{
  color: rgb(255, 255, 255);
  text-decoration:none;
}
a:hover{
  color: rgb(163, 233, 187);
  transition:.3s;
  text-decoration:none;
}

.createarticles{
  font-family: 'Open Sans';
  font-weight: 600;   
  color: white;
}
.createarticles:hover{
  font-family: 'Open Sans';
  font-weight: 700;   
  color: rgb(129, 125, 125);
  text-decoration: none;
  padding: 5px;
  background-color: rgba(243, 243, 245, 0.83);
  transition: .7s;
}
.ProseMirror{
  font-family: 'Open Sans';
  color: white;
}


.footer{
  font-size: 30px;
  color: white;
  padding: 5px;
  background: rgba(251, 252, 252, 0.583);
  position:fixed;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
}
.inlinefooter{
  display:flex;
  justify-content: space-between;
}
.inlineheader{
  display:flex;
  justify-content: space-between;
}
.header {
  /* border: 1px solid black; */
  font-family: 'Open Sans';
  font-size: 30px;
  color: white;
  padding: 5px;
  background: rgba(251, 252, 252, 0.583);
  display: float;
}
.logofooter{
  display: inline;
  margin-left: 1vw;
  width: 4.5em;
  height: 1.5em; 
}
.logobanner {
  display: inline;
  width: 4.5em;
  height: 4em;
}
.logobanner:hover{
  display: inline;
  width: 5.5em;
  height: 5em;
  transition: 1s;
}
.footerlinks{
  margin-top: 1vh;
  bottom:0;
}
.footerlinklist{
  justify-content: baseline;
  align-content: space-between;
  list-style-type: none;
  display: flex;
  text-align:right;
  align-self:flex-end;
  margin: 0;
  bottom:0;
}
.something{
  justify-content: baseline;
  align-content: space-between;
  list-style-type: none;
  display: flex;
  text-align:right;
  align-self:flex-end;
  margin: 0;
}
.headerlinks{
  margin-right: 0%;
  display: flex;
  justify-items: space-between;
}
.search{
  padding-right: 2px;
}
.pics{
  height: 400px;
  width: 450px;
  margin:auto;
  padding: 15px;
}
.item{
  background: white;
  display: block;
  height: 475px;
  width: 450px;
  margin:auto;
  border: 1px solid black;
  /* background: grey; */
}
.caption{
  font-family: 'Rock Salt';
  margin: auto;
}
.create-post { 
  font-size: 1.1em; 
  width: 200px;
}
.input-text {
  color: black;
}
.input-content {
  width:400px;
  font-size:14pt;
  color: black;
}
.homepage-css{
  padding: 39vh;
  background-size: 115vh;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -15vh;
  height:20px;
}

h1{
  color:rgba(243, 243, 245);
}
h2{
  color: rgb(125, 129, 125);
}

.app-index{
  min-height: 150vh;
}
.imageandtext p{
  width:30vw;
  /* padding:10%; */
}
.imageandtext p{
  margin: 0;
  display: block;
  position: absolute;
  /* top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  text-align:right;
  font-family: 'Open Sans';
}
.imageandtext img{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.imageandtext img:hover{
/* background: #000; */
/* opacity: 0.5; */
transition:.3s;
filter:grayscale(0%);
}
.imageandtext p{
  font-size: 2em;
  font-weight: 800;
  color: white;
  width:6em;
  font-family: 'Open Sans';
  bottom:4.5vw; 
  position:absolute;
  text-align: center;
  margin-left:9vw;
  /* text-shadow: .25px .25px 0 #000,
    -.25px .25px 0 #000,
    .25px -.25px 0 #000,
    -.25px -.25px 0 #000,
    0px .25px 0 #000,
    0px -.25px 0 #000,
    -.25px 0px 0 #000,
    .25px 0px 0 #000,
    .5px .5px 0 #000,
    -.5px .5px 0 #000,
    .5px -.5px 0 #000,
    -.5px -.5px 0 #000,
    0px .5px 0 #000,
    0px -.5px 0 #000,
    -.5px 0px 0 #000,
    .5px 0px 0 #000,
    .25px .5px 0 #000,
    -.25px .5px 0 #000,
    .25px -.5px 0 #000,
    -.25px -.5px 0 #000,
    .5px .25px 0 #000,
    -.5px .25px 0 #000,
    .5px -.25px 0 #000,
    -.5px -.25px 0 #000;  */
  }
.lank{
  color: rgb(49, 85, 28);
  text-decoration:none;
}
.lank:visited{
  color: rgb(49, 85, 28);
  text-decoration:none;
}
.lank:hover{
  color: rgb(99, 208, 135);
  transition:.3s;
  text-decoration:none;
}

a#basic-nav-dropdown.dropdown-toggle.nav-link{
  color: rgb(49, 85, 28);
  text-decoration:none;
}
a#basic-nav-dropdown.dropdown-toggle.nav-link:visited{
  color: rgb(49, 85, 28);
  text-decoration:none;
}
a#basic-nav-dropdown.dropdown-toggle.nav-link:hover{
  color: rgb(61, 102, 75);
  transition:.3s;
  text-decoration:none;
}

a.nav-link{
  color: rgb(49, 85, 28);
  text-decoration:none;
}
a.nav-link:visited{
  color: rgb(49, 85, 28);
  text-decoration:none;
}
a.nav-link:hover{
  color: rgb(99, 208, 135);
  transition:.3s;
  text-decoration:none;
}

.main-city-show-page{
    margin: 0 auto;
    background-position: fixed center;
    background-size: cover;
    min-height: 100vh;
}
.main{
  min-height: 150vh;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

.add-article{
  display:flex;
  padding: 3px;
}
.add-article-title{
  color:rgba(243, 243, 245);
  margin-top: 1vh;
  /* margin-left: 3vw;
  margin-right: -2vw; */
  font-size: 3em;
}
.plus-sign{
  width: 3em;
  margin-top: .3em;
  margin-left: 1em;
}
.submit-button {
  font-family: 'Open Sans';
  color: black;
}
.delete-button {
  background-color: rgba(252, 252, 252, 0);
  border: 0;
  color: white;
  margin: auto;
  margin-top: 10px;
  padding: 7px 10px;
  font-size: 1.2em;
  /* width: 100px; */
}
.delete-button:hover {
  background-color: rgba(252, 252, 252, 0.308);
  transition: .5s;
}
.delete-button-wrapper {
  position: float;
  margin: auto;
}
.sign-up-form-css {
  font-family: 'Open Sans';
  color: white;
  font-size: 1.3em;
  width: 300px;
  height: 370px;
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 20%;
  margin: auto;
  margin-top: 20%;
  background-color: rgba(255,255,255,0.5);
}
.login-form-css {
  font-family: 'Open Sans';
  color: white;
  font-size: 1.3em;
  width: 300px;
  height: 370px;
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 300px;
  border-radius: 20%;
  margin: auto;
  margin-top: 20%;
  background-color: rgba(255,255,255,0.5);
}
.new-city-form {
  font-family: 'Open Sans';
  color: white;
  font-size: 1.2em;
  width: 300px;
  height: 300px;
  padding-left: 50px;
  padding-top: 30px;
  border-radius: 20%;
  margin: auto;
  background-color: rgba(255,255,255,0.5);
}
.title-line{
  display: flex;
}
.article-pic{
  width: 14em;
  margin: 0 auto;
  display: block;
  /* position: absolute; */
}